.main-footer{
   height: auto;
   background-color: blue;
   
}

.main-footer .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px ;
}

.main-footer .contenedor a{
    padding: 0px 30px;
    text-decoration: none;
    color: white;
}
